<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/comment.css"/>
    <title>Document</title> 
</head>
<body>
    <div class="comments">
        <div class="header">
        <i class="fa fa-angle-left"></i>
        <span class="title">Comments</span>
        <i class="fa fa-paper-plane"></i>
    </div>
    <div class="body">
        <div class="section">
            <div>
                <div class="img">
                    <img src="../static/image/inst.jpeg" alt="">
                </div>
                <div class="comment-body">
                     <span class="name">nadgeSach</span>
                     <span>Lorem ipsum dolor sit amet consectetur assumenda molestias!</span>
                     <br>
                     <div class="muted">
                         <span>2d</span>
                         <span><b>1 Like</b></span>
                         <span><b>Reply</b></span>    
                     </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

        </div>


        <div class="reply">
            <!-- <div> -->
                <div class="img">
                    <img src="../static/image/inst1.webp" alt="">
                </div>
                <div class="comment-body">
                     <span class="name">nadgeSach</span>
                     <span class="r-comment">Lorem ipsum dolor sit amet consectetur assumenda molestias!</span>
                     <br/>
                     <div class="muted">
                         <span>2d</span>
                         <span><b>1 Like</b></span>
                         <span><b>Reply</b></span>    
                     </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            <!-- </div> -->

        </div>


        <div class="section">
            <div>
                <div class="img">
                    <img src="../static/image/in1.jpeg" alt="">
                </div>
                <div class="comment-body">
                     <span class="name">nadgeSach</span>
                     <span>Lorem ipsum dolor sit amet consectetur assumenda molestias!</span>
                     <br>
                     <div class="muted">
                         <span>2d</span>
                         <span><b>1 Like</b></span>
                         <span><b>Reply</b></span>    
                     </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

        </div>


        <div class="section">
            <div>
                <div class="img">
                    <img src="../static/image/in.jpeg" alt="">
                </div>
                <div class="comment-body">
                     <span class="name">nadgeSach</span>
                     <span>Lorem ipsum dolor sit amet consectetur assumenda molestias!</span>
                     <br>
                     <div class="muted">
                         <span>2d</span>
                         <span><b>1 Like</b></span>
                         <span><b>Reply</b></span>    
                     </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

        </div>
    </div></div>
    
</body>
</html>