<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/css/createPost.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="insta">
        <header>
            <div class="logo">
                <img src="../static/image/insta.png" alt="" class="lg">
            </div>
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search">     
            </div>
            <nav>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i></a></li>
                    <li><a href="/Chats"><i class="fab fa-facebook-messenger"></i></a></li>
                    <li><a href="/createPost"><i class="far fa-plus-square"></i></a></li>
                    <li><a href="/manageGrp"><i class="fa-solid fa-user-group"></i></a></li>
                    <li><a href="/notification"><i class="far fa-heart"></i></a></li>
                    <li><a href=""><img src="../static/image/pp1.jpeg" alt=""></a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="left-side">
                <div class="posts">
                    <div class="post-title ">
                        <div class="post-left">
                            <div class="details"><form id="form" action="http://localhost:8000/" method="post">
                                <a class="likes" onclick="document.getElementById('form').submit();">
                                <p class="name name-title">Cancel</p></a></form>
                            </div>
                            <div class="details1">
                                <p class="name name-title">Share Your Post</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="like-share-comment allgrp">
                            <form action="/createpost" method="POST" enctype="multipart/form-data">
			
                            <div class="crt-label">
                                <p>Upload Image</p>
                            </div>
                           
                            <div class="upload-file">
                                <input class="v" type="file" id="image" name="image" value="" required>
                                
                            </div>
                            <div class="decription">
                                <textarea class="v r" id="desc" name="desc"  class="dsc" value="" rows="4" 
                          placeholder="Description" cols="50" required>
                </textarea>
                              
                            </div>
                            <div class="crt-btn">
                                <input type="submit" value="Create Post" class="crt-btn-btn">
                            </div>
                            </form>
                        </div>
                    </div>
            
            
            </div>
        </section>
    </div>
</body>
</html>