<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/image/createGruop.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="insta">
        <section>
            <div class="left-side">
                <div class="posts">
                    <div class="post-title ">
                        <div class="post-left">
                            <div class="details">
                                <p class="name name-title">Cancel</p>
                            </div>
                        </div>
                    </div>
                    <div class="story">
                        <div class="stories">
                        <span class="crt-grp"><p >Create a Group</p></span>
                        <div class=msg-grp><p>You will create first group chat with us</p></div>
                        </div>
                        
                    </div>

                    <div class="allgrp">
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <p>Group name</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>
                            <!-- <div class="details">
                                <input type="text" placeholder="Name your group..">
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="allgrp">
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <p>Choose Privacy</p>
                            </div>
                            <div class="post-title ">
                                <div class="post-left">
                                    <div class="details">
                                        <p class="name name-title">Private</p>
                                    </div>
                                </div>
                                <div class="post-right">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                            <div class="post-title ">
                                <div class="post-left">
                                    <div class="details">
                                        <p class="name name-title">Public</p>
                                    </div>
                                </div>
                                <div class="post-right">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>

                            <div class="right-column text-center">
                                    <buton type="submit" class="btn btn-primary btn-block">Create Group</buton>   
                            </div>

                        </div>
                    </div>
                </div>
                    <!-- <div style="height:300px"></div>
                </div> -->
            </div> </section>
    </div>
</body>
</html>