<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="containr">
        <div class="row">
            <div class="col-sm-6">
                <div class="right-column text-center">
                    <img src="../static/image/insta.png" height="50px" class="instagram-logo" alt="">
                    <p class="info">Sign up to see photo and videos from your friends.</p>
                    <button type="submit" class="btn btn-primary btn-block"><i class="fa-brands ff fa-facebook"></i>Log in with Facebook</button>
                    <p class="or">OR</p>
                    <form action="http://localhost:8000/signup" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="uname" name="uname" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                        </div>
                        <input type="submit" id="submitDetails" name="submitDetails" class="btn btn-primary btn-block" value="Submit" />
                        <!-- <buton type="submit" class="btn btn-primary btn-block">Sign up</buton> -->
                    </form>
                    <p class="term">By signing up, you agree to our<b>Terms,Data Policy</b>and<b>Cookies Policy</b>.</p>
                </div>
                <div class="right-column-login text-center">
                    <p>Have an account?<form id="form" action="http://localhost:8000/login" method="get">
                        <a class="likes" onclick="document.getElementById('form').submit();">Login</a></form></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>