<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/css/manageGrp.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="insta">
        <header>
            <div class="logo">
                <img src="../static/image/insta.png" alt="" class="lg">
            </div>
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search">     
            </div>
            <nav>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i></a></li>
                    <li><a href="/Chats"><i class="fab fa-facebook-messenger"></i></a></li>
                    <li><a href="/createPost"><i class="far fa-plus-square"></i></a></li>
                    <li><a href="/manageGrp"><i class="fa-solid fa-user-group"></i></a></li>
                    <li><a href="/notification"><i class="far fa-heart"></i></a></li>
                    <li><a href=""><img src="../static/image/pp1.jpeg" alt=""></a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="left-side">
                <div class="posts">
                    <div class="post-title ">
                        <div class="post-left">
                            <div class="details">
                                <p class="name name-title">Manage Group</p>
                            </div>
                        </div>
                        <div class="post-right">
                            <a href="/"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                    <div class="post-title req-title grp-request">
                        <div class="post-left">
                            <div class="image msgchats">
                                <i class="fa-regular fa-comment-dots"></i>
                            </div>
                            <div class="details">
                                <p class="name">
                                    <!-- <form id="form" action="http://localhost:8000/invitegrp" method="get">
                                        <a class="likes" onclick="document.getElementById('form').submit();">Group Requests</a></form> -->
                                        <a class="likes" href="/invitegrp"> Group Requests</a>
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title req-title btn-ctr-grp">
                        <div class="post-left">
                            <div class="image ">
                                <i class="fa-solid fa-user-plus"></i>
                            </div>
                            <div class="details">
                                <p class="name">
                                    <!-- <form id="form" action="http://localhost:8000/creategrp" method="get"> -->
                                        <a class="likes" href="/creategrp"> Create Group</a>
                                    <!-- </form> -->
                                   
                                   </p>
                            </div>
                        </div>
                    </div>
                    <hr style="border: 0.5px solid;"/>
                    <div class="post-footer">
                        <div class="like-share-comment">
                            <p>All Groups</p>
                        </div>
                        <div class="save">
                            <a href="#" style="color:royalblue;font-size: 18px; text-decoration: none;">MANAGE</a>
                        </div>
                    </div>

                    <div class="allgrp">
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst.jpeg" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group One</p>
                            </div>
                        </div>
                    </div>

                    <div class="post-title">
                        <div class="post-left">
                            <div class="image img-grp">
                                <img src="../static/image/inst1.webp" width="32px" height="32px" alt="">
                            </div>
                            <div class="details">
                                <p class="name">Group Two</p>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- <div style="height:300px"></div>
                </div> -->
            </div>
        </section>
    </div>

    <script>
        document.getElementsByClassName('btn-ctr-grp')[0]
        .addEventListener('click', function (event) {
            window.location.replace("/frontend/createPost.html");
        });
        document.getElementsByClassName('grp-request')[0]
        .addEventListener('click', function (event) {
            window.location.replace("/frontend/notification.html");
        });
    </script>
</body>
</html>